<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template pages - Includes</title>
		<link rel='stylesheet' href='css/style.css' />
		<link rel='shortcut icon' href='/favicon.ico' />
	</head>
	<body>
@header

<main id="content">
	<section class="coloredBackground_gray">
		<div class="">
			<h2>
				Welcome to a Template page with some nested includes
			</h2>
		</div>
	</section>

</main>

@footer
	</body>
</html>
