<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template pages - Index</title>
	<link rel='stylesheet' href='css/style.css' />
	<link rel='shortcut icon' href='/favicon.ico' />
</head>
<body>
@header

<main id="content">
	<section class="coloredBackground_gray">
		<div class="">
			<h2>
				Welcome to Template pages
			</h2>
		</div>
	</section>

	<section class="coloredBackground_gray">
		<div class="marker">
			<h3>Sample pages and routes to call</h3>
			<br/>

			<ul class="dashList">
				<li><a href="/cookie">/cookie</a> - Dump request headers and set a cookie (text reply)</li>
				<!-- <li><a href="/includes">/includes</a> - Serve a template page with nested includes (page reply)</li> //-->
				<li><a href="/headerfooter">/headerfooter</a> - Serve a template page with hardcoded support for header and footer (page reply)</li>
				<li><a href="/health">/health</a> - Health Check (fixed json reply)</li>
				<li><a href="/hello">/hello</a> - Hello (dynamic text reply)</li>
				<li><a href="/hj">/hj</a> - Hello (fixed json reply)</li>
				<li><a href="/mystatus">/mystatus</a> - Sample error code (fixed json reply)</li>
				<li><a href="/not/existent">/not/existent</a> - Call a not existing route (HTTP error 404 expected)</li>
				<li><a href="/ready">/ready</a> - Readiness Check (fixed json reply, but after some seconds, to simulate a real dependency check)</li>
				<li><a href="/time">/time</a> - Current timestamp (dynamic json reply)</li>
				<li><a href="/user/1001">/user/1001</a> - Return some user info, with user id in the path (fixed json reply)</li>
			</ul>
			<br/>

		</div>
	</section>
</main>

@footer
</body>
</html>
