<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template pages - Index</title>
	<link rel='stylesheet' href='css/style.css' />
	<link rel='shortcut icon' href='/favicon.ico' />
</head>
<body>
<header class="">
	<nav>
		<ul>
		  <li><a href="/" name="top">Home</a>&nbsp;</li>
		</ul>
	  </nav>
</header>

<main id="content">
	<section class="coloredBackground_gray">
		<div class="">
			<h2>
				Welcome to Template pages
			</h2>
		</div>
	</section>

	<section class="coloredBackground_gray">
		<div class="marker">
			<h3>Sample pages and routes to call</h3>
			<br/>

			<ul class="dashList">
				<li><a href="/cookie">/cookie</a> - Dump request headers and set a cookie (text reply)</li>
				<!-- <li><a href="/includes">/includes</a> - Serve a template page with nested includes (page reply)</li> //-->
				<li><a href="/header_footer">/header_footer</a> - Serve a template page with hardcoded support for header and footer (page reply)</li>
				<li><a href="/hello">/hello</a> - Hello (text reply)</li>
				<li><a href="/hj">/hj</a> - Hello (json reply)</li>
				<li><a href="/time">/time</a> - Current timestamp (json reply)</li>
			</ul>
			<br/>

		</div>
	</section>
</main>

<footer>
	<ul>
		<li><a href="#top">Top</a></li>
		<li>Made with vweb (built with <a href="https://vlang.io/">V</a> @v_version)</a></li>
	</ul>
</footer>

</body>
</html>
